<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layout"
>
  <head>
    <title>Article List</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="card mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add New Article</h5>
            <form
              th:action="@{/create-task}"
              th:object="${task}"
              method="post"
              class="needs-validation"
            >
              <div class="form-group">
                <label for="title" class="form-label">Title:</label>
                <input
                  id="title"
                  type="text"
                  th:field="*{title}"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="description" class="form-label">Description:</label>
                <input
                  id="description"
                  type="text"
                  th:field="*{description}"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="status" class="form-label">status:</label>
                <select
                  id="status"
                  class="form-select"
                  aria-label="Select a status"
                >
                  <option
                    th:each="taskStatus, status : ${status}"
                    th:text="${taskStatus}"
                    th:value="${status.count}"
                  />
                </select>
              </div>
              <div class="form-group">
                <label for="scheduledAt" class="form-label"
                  >Scheduled at:</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="scheduledAt"
                  name="scheduledAt"
                />
              </div>
              <div class="form-group">
                <label for="category" class="form-label">Category:</label>
                <select
                  id="category"
                  class="form-select"
                  aria-label="Select a category"
                >
                  <option
                    th:each="category, status : ${categories}"
                    th:text="${category.name}"
                    th:value="${status.count}"
                  />
                </select>
              </div>
              <ul th:each="error : ${errors}">
                <li th:text="${error}"></li>
              </ul>
              <button type="submit" class="btn btn-primary mt-2">Save</button>
              <a href="/" class="btn btn-secondary mt-2">Annuler</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
