<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layout"
>
  <head>
    <title>Article List</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="card mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Créer une catégorie</h5>
            <form action="">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >Nom de la catégorie :</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="Cuisine"
                />
              </div>
              <div>
                <button class="btn btn-primary">Sauvegarder</button>
                <button class="btn btn-outline-dark">Annuler</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
